/logs
/crash-reports
/backups
/build
/cache
/coremods
/datapacks
/downloads
/local/client
/mods
/saves
/screenshots
/server-resource-packs
/sahderpacks
/snapshots-server
/texturepacks
/tmp
/TombManyGraves
/xaero
/XaeroWaypoints_BACKUP240807
.curseclient
.ReAuth.cfg
BotaniaVars.dat
crafttweaker.log
hei_bookmarks.ini
imgui.ini
minecraftinstance.json
optionsof.txt
optionsofshaders.txt
usercache.json
usernamecache.json